<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="false"
       throwConfigExceptions="true">
    <targets>
        <target xsi:type="Console"
                name="console" />
        <target xsi:type="File" 
                name="file"
                fileName="./test-log.log"
                deleteOldFileOnStartup="true" />
    </targets>
    
    <rules>
        <logger name="*.Tests" levels="Info" writeTo="console" />
        <logger name="*" levels="Info,Warn,Error,Fatal" writeTo="console" />
        <logger name="*" levels="Debug,Info,Warn,Error,Fatal" writeTo="file" />
    </rules>
</nlog>